<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>614724033093-od0bcfgsgjhb7mp56grd8ii01re2emar.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.614724033093-od0bcfgsgjhb7mp56grd8ii01re2emar</string>
	<key>API_KEY</key>
	<string>AIzaSyCK9QNTuo91tl6abqEsw54vCgf3FuwcINw</string>
	<key>GCM_SENDER_ID</key>
	<string>614724033093</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dhruvil.ChatApp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-37dfe</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-37dfe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:614724033093:ios:4bed68028584467a53e12c</string>
</dict>
</plist>